body{
    background-color: #232323;
    margin: 0 auto;
}

.square{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected{
    background-color: steelblue;
    color: white;
}

button{
    border: none;
    background-color: white;
}

button:hover{
    background-color: steelblue;
    color: white;
}